@font-face {
  font-family: RobR;
  src: url(/FONT/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobL;
  src: url(/FONT/Roboto-Light.ttf);
}
@font-face {
  font-family: inter;
  src: url(/FONT/InterTight-ExtraBold.ttf);
}

p {
  font-family: RobL;
  line-height: 2;
}

#dato {
  font-family: RobL;
  line-height: 2;
}
h1 {
  color: #fff8d2;
  -webkit-text-stroke: 0.9rem;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Inter;
  line-height: 2;
}

h2 {
  color: #fff8d2;
  text-align: center;
  font-family: RobL;
  line-height: 2;
}
p {
  color: #fff8d2;
}

#dato {
  color: #b2b8eb;
  text-align: center;
}
