img {
  max-width: 300px;
  max-height: 400px;
}

.pil {
  max-width: 80px;
}

.container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  background-image: url(/IMG/baggrund.webp);
}

.container img {
  width: 200%;
  position: absolute;
  left: -50%;
  top: 0;
}
.Buttons {
  margin: 0 auto;
  width: fit-content;
}

.knap2 {
  margin: 0 auto;
  width: fit-content;
}
.spons-img {
  margin: 0 auto;
  width: fit-content;
}
@font-face {
  font-family: RobR;
  src: url(/FONT/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobL;
  src: url(/FONT/Roboto-Light.ttf);
}
@font-face {
  font-family: inter;
  src: url(/FONT/InterTight-Bold.ttf);
}

p {
  font-family: RobL;
  line-height: 2;
}

#dato {
  font-family: RobL;
  line-height: 2;
}
h1 {
  color: #fff8d2;
  -webkit-text-stroke: 0.05rem;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: inter;
  line-height: 2;
  font-size: 32px;
}

h2 {
  color: #fff8d2;
  text-align: left;
  font-family: RobR;
  line-height: 2;
  font-size: 20px;
}
p {
  color: #fff8d2;
}

#dato {
  color: #b2b8eb;
  text-align: center;
}
/* desktop */
@media (min-width: 600px) {
  #grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main {
    padding: 30px;
  }
}
