---
import Event from "../components/Event.astro";
import Navigation from "../components/Navigation.astro";
    

const url = "https://qvuodamtpodvzhlumvwz.supabase.co/rest/v1/copenhagenLF";

const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2dW9kYW10cG9kdnpobHVtdnd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTA3MDcsImV4cCI6MjAyNjA2NjcwN30.bQLajmGw_1NqVRaz-u5LRwtYAIOofxYROvvs9pZKlH8",
  },
}).then((r) => r.json());
console.log("test", data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>events</title>
  </head>
  <body>
    <Navigation />
    <h1>Astro</h1>
    <main>
      {
        data.map((event) => (
          <Event
            Tittel={event.Tittel}
            Av={event.Av}
            Lokation={event.Lokation}
          />
        ))
      }
    </main>
  </body>
</html>
