---
import "../style/style.css";
import "../style/index.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Index</title>
  </head>
  <body>
    <div class="singlecellgrid">
      <img src="/IMG/baggrund.webp" />
      <main>
        <Navigation />
        <h1>EN SÆRLIG LYSFEJRING I VINTERMØRKET</h1>
        <h2 class="dato">2/2 - 25/2 2024</h2>
        <div class="Buttons">
          <a class="Button1" href="/program">
            <Button variant="primary" size="medium">SE PROGRAM</Button>
          </a>
          <a class="Button2" href="/map">
            <Button variant="primary" size="medium">RUTER OG TURE</Button>
          </a>
        </div>
      </main>
    </div>
    <article>
      <p class="pt">
        En årligt tilbagevendende festival for lys, der transformerer det stille
        og kolde vintermørke til en særlig fejring af lyskunst, lysdesign og
        lysende oplevelser midt i København.
      </p>
    </article>
    <section id="grid-1">
      <div>
        <img src="/IMG/kort.webp" />
        <h2>Se årets program</h2>
        <p>Udforsk årets lysværker og events</p>
        <img class="pil" src="/IMG/pil.webp" alt="" />
      </div>

      <div>
        <img src="/IMG/kunstværk.webp" />
        <h2>Tjek vores rutevejledning</h2>
        <p>Se nogle af vores gå-og cykelruter</p>
        <img class="pil" src="/IMG/pil.webp" alt="" />
      </div>

      <div>
        <img src="/IMG/kunst.webp" />
        <h2>Book en guidet tour</h2>
        <p>Oplev lysfestivalen på vores guidede ture</p>
        <img class="pil" src="/IMG/pil.webp" alt="" />
      </div>
    </section>
    <section>
      <div class="knap2">
        <Button variant="primary" size="medium">PARTNERE & SPONSORER </Button>
      </div>
      <div class="spons-img">
        <img src="/IMG/spons.webp" alt="" />
      </div>
    </section>
    <div>
      <footer></footer>
    </div>
  </body>
</html>
