---
import "../style/style.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../../public/style.css" />
    <link rel="stylesheet" href="../../public/index.css" />
    <title>Index</title>
  </head>
  <body>
    <Navigation />
    <main>
      <div class="container">
        <img src="/public/IMG/baggrund.webp" alt="" />
      </div>
      <h1>EN SÆRLIG LYSFEJRING I VINTERMØRKET</h1>
      <h2 id="dato">2/2 - 25/2 2024</h2>
      <div class="Buttons">
        <a class="Button1" href=""></a>
        <Button variant="primary" size="medium">SE PROGRAM</Button>
        <a class="Button2" href=""></a>
        <Button variant="primary" size="medium">RUTER OG TURE</Button>
      </div>
      <article>
        <p>
          En årligt tilbagevendende festival for lys, der transformerer det
          stille og kolde vintermørke til en særlig fejring af lyskunst,
          lysdesign og lysende oplevelser midt i København.
        </p>
      </article>
      <section id="grid-1">
        <div>
          <a href="/public/IMG/kort.webp"></a>
          <h2>Se årets program</h2>
          <p>Udforsk årets lysværker og events</p>
        </div>
        <div>
          <a href="/public/IMG/kunstværk.webp"></a>
          <h2>Tjek vores rutevejledning</h2>
          <p>Se nogle af vores gå-og cykelruter</p>
        </div>
        <div>
          <a href="/public/IMG/kunst.webp"></a>
          <h2>book en guidet tour</h2>
          <p>oplev lysfestivalen på vores guidede ture</p>
        </div>
      </section>
      <section>
        <Button variant="primary" size="medium">PARTNERE & SPONSORER </Button>
        <div>
          <img src="" alt="" />
        </div>
      </section>
      <div>
        <footer></footer>
      </div>
    </main>
  </body>
</html>
