---
import "../style/style.css";
import "../style/index.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Button from "../Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Index</title>
  </head>
  <body class="body-index">
    <div class="singlecellgrid">
      <img src="/img/baggrund.webp" />
      <Navigation />
      <main>
        <h1>EN SÆRLIG LYSFEJRING I VINTERMØRKET</h1>
        <h2 class="dato">2/2 - 25/2 2024</h2>
        <div class="Buttons">
          <a class="Button1" href="/program">
            <Button variant="primary" size="medium">SE PROGRAM</Button>
          </a>
          <a class="Button2" href="/map">
            <Button variant="primary" size="medium">RUTER OG TURE</Button>
          </a>
        </div>
      </main>
    </div>
    <article class="containerp">
      <p class="pt">
        En årligt tilbagevendende festival for lys, der transformerer det stille
        og kolde vintermørke til en særlig fejring af lyskunst, lysdesign og
        lysende oplevelser midt i København.
      </p>
    </article>
    <section id="grid-1">
      <div>
        <a href="/program"> <img src="/img/kort.webp" /></a>
        <h4>Se årets program</h4>
        <p>Udforsk årets lysværker og events</p>
        <a href="/program"> <img class="pil" src="/img/pil.webp" alt="" /></a>
      </div>

      <div>
        <a href="/map"> <img src="/img/kunstværk.webp" /></a>
        <h4>Tjek vores rutevejledning</h4>
        <p>Se nogle af vores gå-og cykelruter</p>
        <a href="/map"> <img class="pil" src="/img/pil.webp" alt="" /></a>
      </div>

      <div>
        <a href="/map"> <img src="/img/kunst.webp" /></a>
        <h4>Book en guidet tour</h4>
        <p>Oplev lysfestivalen på vores guidede ture</p>
        <a href="/map">
          <img class="pil" src="/img/pil.webp" alt="" />
        </a>
      </div>
    </section>
    <section>
      <div class="knap2">
        <Button variant="primary" size="medium">PARTNERE & SPONSORER</Button>
      </div>
      <div class="spons-img">
        <img src="/img/spons-img.webp" alt="" />
      </div>
    </section>
    <footer>
      <Footer />
    </footer>
    <script src="/main.js" is:inline></script>
  </body>
</html>
