---
import "../style/style.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../../public/style.css" />
    <link rel="stylesheet" href="../../public/index.css" />
    <title>Index</title>
  </head>
  <body>
    <Navigation />
    <main>
      <h1>EN SÆRLIG LYSFEJRING I VINTERMØRKET</h1>
      <h2 id="dato">2/2 - 25/2 2024</h2>
      <div class="Buttons">
      <a class="Button1" href=""></a>
      <Button variant="primary" size="medium">SE PROGRAM</Button>
      <a class="Button2" href=""></a>
      <Button variant="primary" size="medium">RUTER OG TURE</Button>
    </div>
      <article>
        <p>
          En årligt tilbagevendende festival for lys, der transformerer det
          stille og kolde vintermørke til en særlig fejring af lyskunst,
          lysdesign og lysende oplevelser midt i København.
        </p>
      </article>
      <div>
        <Card />
      </div>
    </main>
  </body>
</html>
