---
import "../style/style.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
  </head>
  <body>
    <main>
      <h1>RUTER OG TURE</h1>
      <h3>VÆLG EN AF VORES GÅ- OG CYKELRUTER</h3>
      <section id="infomap">
        <article id="info"></article>
        <article id="map"></article>
      </section>
      <h2>GUIDEDE TURE 2024</h2>
      <h3>BOOK EN AF VORES GUIDEDE TURE</h3>
      <section>
        <article>
          <img src="billede" alt="" />
          <p>Guidet tur til fods under Copenhagen Light Festival</p>
        </article>
      </section>
    </main>
  </body>
</html>
