---
import "../style/style.css";
import Card_guidet from "../components/Card_guidet.astro";
import Rute from "../components/Rute.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
  </head>
  <body>
    <main>
      <h1>RUTER OG TURE</h1>
      <h3>VÆLG EN AF VORES GÅ- OG CYKELRUTER</h3>
      <section id="infomap">
        <div id="info">
          <p id="routes">Routes</p>
          <section id="filter">
            <Rute text="4km walk" />
            <Rute text="6km walk - Inner City" />
            <Rute text="6km walk - Ørestaden" />
            <Rute text="Lightrun 3.27km" />
            <Rute text="Lightrun 7.35km" />
            <Rute text="Downtown bikingroute" />
            <Rute text="Uptown bikingroute" />
            <Rute text="Bus: line 991 Teglholmen" />
            <Rute text="Bus: line 18" />
            <Rute text="Bus: line 1a" />
            <Rute text="Bus: line 2a" />
            <Rute text="Bus: line 26" />
            <Rute text="Bus: line 11" />
            <Rute text="Canaltour Stromma" />
          </section>
        </div>
        <div id="google-map"></div>
      </section>
      <h2>GUIDEDE TURE 2024</h2>
      <h3>BOOK EN AF VORES GUIDEDE TURE</h3>
      <section>
        <Card_guidet text="Guidet tur til fods under Copenhagen Light Festival"
          ><img src="xxx" alt="xxx" /></Card_guidet
        >
        <Card_guidet text="Guided BUS til alle distrikter af CLF"
          ><img src="xxx" alt="xxx" /></Card_guidet
        >
        <Card_guidet text="Liveguidet kanalrundfart langs kunstværkerne"
          ><img src="xxx" alt="xxx" /></Card_guidet
        >
        <Card_guidet
          text="Guidet tur til fods med Frederik Lindskov og FOF Nordsjælland"
          ><img src="xxx" alt="xxx" /></Card_guidet
        >
      </section>
    </main>
  </body>
  <script
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEZPr69oJ9-ugL5eBNro3I13i99dpoXuQ&callback=initMap"
  ></script>
  <script src="/main.js" is:inline></script>
</html>
