---
import "../style/style.css";
import Arrow from "../components/Arrow.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Program</title>
  </head>
  <body>
    <header><Navigation /></header>
    <h1>PROGRAM</h1>
    <h3>ALLE LYSVÆRKER OG EVENTS D. 2. FEB – 25. FEB 2024</h3>
    <section class="grid_1-1">
      <div class="propic">
        <img src="../../public/img/The-Wave.webp" " alt="Lysværk" />
        <a href="/art"><h3>LYSVÆRKER</h3> </a>
      </div>
      <div class="propic">
        <img src="../../public/img/Jellyfish.webp" alt="Events" />
        <a href="/events"><h3>EVENTS</h3> </a>
        <a href="art.astro"></a>
      </div>
    </section>
    <script src="/main.js" is:inline></script>
  </body>
  <footer>
    <Footer />
  </footer>
</html>
