---
import "../style/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lysværk</title>
  </head>
  <body>
    <main>
      <article>
        <h4>01</h4>
        <h1>Du som er i himlene</h1>
        tilbake knapp

        <img src="" alt="" />
        <h5>Kunstner</h5>
        <p>Marie Nørgaard(DK)</p>
        <h5>Lys</h5>
        <p>Mani Nikdel</p>
        <h5>Lokation</h5>
        <p>Højbro Plads</p>
        <h5>Kontakt</h5>
        <p>Instagram: @marienoergaardnielsen</p>
        <p>Instagram: @maninikdelstudio</p>
        <h5>Om værket</h5>
        <p>
          Marie Nørgaard har skabt en lysinstallation, der er inspireret af den
          danske salme "Du som er i himlene". Værket er en hyldest til det
          himmelske lys og til det lys, der er i os alle. Lysinstallationen er
          skabt i samarbeid med lysdesigner Mani Nikdel.
        </p>
      </article>
    </main>
  </body>
</html>
