img {
  max-width: 300px;
  max-height: 400px;
}

.pil {
  max-width: 80px;
}

.container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.pt {
  text-align: left;
  margin: 20px;
  padding: 20px;
}

/* body {
  background-image: url(/IMG/baggrund.webp);
  position: relative;
}
body::before {
  filter: grayscale(100%);
} */

.singlecellgrid {
  display: grid;
}
.singlecellgrid > * {
  grid-column: 1;
  grid-row: 1;
}
.singlecellgrid img {
  max-width: 100%;
  object-fit: cover;
  /* filter: opacity(25%); */
  align-self: stretch;
  justify-self: stretch;
  z-index: -1;
  opacity: 0.5;
}
.Buttons {
  margin: 0 auto;
  width: fit-content;
  padding: 20px;
}

.knap2 {
  margin: 0 auto;
  margin-top: 100px;
  width: fit-content;
}
.spons-img {
  margin: 0 auto;
  width: fit-content;
}

.spons_img img {
  width: 100%
}

@font-face {
  font-family: RobR;
  src: url(/FONT/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobL;
  src: url(/FONT/Roboto-Light.ttf);
}
@font-face {
  font-family: inter;
  src: url(/FONT/InterTight-Bold.ttf);
}

p {
  font-family: RobL;
  line-height: 2;
}

.dato {
  font-family: RobL;
  line-height: 2;
  color: #b2b8eb;
  text-align: center;
}
h1 {
  color: #fff8d2;
  -webkit-text-stroke: 0.05rem;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: inter;
  line-height: 2;
  font-size: 32px;
}

h2 {
  color: #fff8d2;
  text-align: left;
  font-family: RobR;
  line-height: 2;
  font-size: 20px;
}
p {
  color: #fff8d2;
}
.body-index {
  background: #010d25;
  background-image: url(/public/IMG/baggrund2.webp);
  background-size: 100%;
}
/* desktop */
@media (min-width: 600px) {
  #grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main {
    padding: 30px;
  }

  .pt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: fit-content;
    margin: 20px auto;
  }
  h1 {
    margin: 80px;
    font-size: 40px;
  }
}
