body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 300px;
  max-height: 400px;
}

.pil {
  max-width: 80px;
}

.container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.containerp {
  display: flex;
  justify-content: center;
  margin: 70px;
}

.pt {
  font-size: 20px;
  max-width: 600px; 
  text-align: left;
}

.singlecellgrid {
  display: grid;
}
.singlecellgrid > * {
  grid-column: 1;
  grid-row: 1;
}
.singlecellgrid img {
  max-width: 100%;
  object-fit: cover;
  align-self: stretch;
  justify-self: stretch;
  z-index: -1;
  opacity: 0.5;
}
.Buttons {
  margin: 0 auto;
  width: fit-content;
  padding: 20px;
}

.knap2 {
  margin: 0 auto;
  margin-top: 100px;
  width: fit-content;
}
.spons-img {
  margin: 0 auto;
  width: fit-content;
}

.spons_img img {
  width: 100%
}

.dato {
  font-family: RobL;
  line-height: 2;
  color: #b2b8eb;
  text-align: center;
}

h1 {
  text-align: center;
}

.body-index {
  background: #010d25;
  background-image: url(/public/baggrund2.webp);
  background-size: 100%;
}
/* desktop */
@media (min-width: 600px) {
  #grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 140px;
    padding-top: 30px;
  }
  main {
    padding: 30px;
  }

  h1 {
    margin: 80px;
    font-size: 40px;
  }
}
