---
const { variant, size } = Astro.props;
---

<button><slot /></button>

<style>
  
  Button {
    padding: 1rem;
    background-color: transparent;
    border: 2px solid #fff8d2;
    color: #fff8d2;
    margin: 1px;
  }
</style>
