---
const { variant, size } = Astro.props;
---

<button><slot/></button>

<style>
  
  button {
    padding: 1rem;
    background-color: transparent;
    border: 2px solid #FFF8D2;
    color:#FFF8D2;
    margin: 1px;
  }
</style>
