---
const { variant, size } = Astro.props;
---

<button><slot /></button>

<style>
  button {
    padding: 1rem;
    align-items: center;
  }
  .primary {
  }
  .medium {
    font-size: 1rem;
    border: 2px solid #f1cd00;
  }
</style>
