---
const { variant, size } = Astro.props;
---

<button><slot/></button>

<style>
  
  button {
    padding: 1rem;
    align-items: center;
    background-color: transparent;
    border: 2px solid #FFF8D2;
    color:#FFF8D2 ;
    
  }
  .primary {
  }
  .medium {
    font-size: 1rem;
    border: 2px solid #f1cd00;
  }
</style>
