---
console.log("Event");
//const response = await fetch("...");
//const data = await response.json();
const { Tittel, Av, Lokation } = Astro.props;
---

<article>
  <h1>{Tittel}</h1>
  <p>{Av}</p>
  <p>{Lokation}</p>
  <img />
</article>

<style>
  .grid {
    display: grid;
    grid-template-columns: (3, 1fr);
  }
</style>
