---

---

<article id="footergrid">
  <div>
    <p>@COPENHAGEN LIGHT FESTIVAL</p>
  </div>
  <div>
    <p>FAQ</p>
    <p>PRESSE OG MEDIER</p>
    <p>KONTAKT</p>
    <p>NYHETSBREV</p>
  </div>
  <div>
    <p>
      <a href="https://www.facebook.com/cphlightfest/" target="_blank"
        >Facebook</a
      >
    </p>
    <p>
      <a href="https://www.instagram.com/cphlightfest/" target="_blank"
        >Instagram</a
      >
    </p>
  </div>
</article>

<style>
  #footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
</style>
