---

---

<article id="footergrid">
  <div>
    <p>@COPENHAGEN LIGHT FESTIVAL</p>
  </div>
  <div id="grid-1-1-1-1">
    <p>FAQ</p>
    <p>PRESSE OG MEDIER</p>
    <p>KONTAKT</p>
    <p>NYHETSBREV</p>
  </div>
  <div>
    <p>
      <a href="https://www.facebook.com/cphlightfest/" target="_blank"
        ><div id="facebook_logo"></div>
      </a>
      <p>
        <a href="https://www.instagram.com/cphlightfest/" target="_blank"
          ><div id="instagram_logo"></div>
        </a>
      </p>

      <style>
        #footergrid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }

        #grid-1-1-1-1 {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        #instagram_logo {
          background-image: url(/img/instagram_logo-kopi.webp);
          aspect-ratio: 1/1;
          background-size: cover;
          background-repeat: no-repeat;
          width: 1%;
          position: absolute;
          padding: 10px;
          margin-left: 80px;
        }

        #facebook_logo {
          background-image: url(/img/facebook_logo-kopi.webp);
          aspect-ratio: 1/1;
          background-size: cover;
          background-repeat: no-repeat;
          width: 1%;
          position: absolute;
          padding: 10px;
          margin-left: 20px;
        }
      </style>
    </p>
  </div>
</article>
